.details{
    width: 340px;
    border: solid 2px white;
    background-color: white;
    box-shadow: 5px 5px 10px gray;
    text-decoration: none;
    color: inherit; 
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.details-image{
    width: 100%;
    
}

.addcart{
    height: 40px;
    width: 120px;
    margin-left: 25px;
    margin-bottom: 20px;
    background-color: #e60073;
    border-radius: 4px;
    border: none;
    color: wheat;
    font-weight: 600;

}
.buynow{
    height: 40px;
    width: 120px;
    margin-left: 40px;
    background-color: green;
    border: none;
    color: wheat;
    font-weight: 600;
    

}