/* .main_container{
    border: solid 2px black;
    height: 500px;
} */

.row{
   max-width: 1400px;
   border: solid 2px black;
   margin: auto;
   display: flex;
   gap: 30px;
   margin-top: 20px;
   margin-bottom: 20px;
}

.col{
    width: 340px;
    height: 400px;
    border: solid 2px black;
    
}

@media(max-width:720px){
    .row{
        flex-direction: column;
    }
    .col{
        margin: auto;
    }
}