/* .main_container{
    border: solid 2px black;
    height: 500px;
} */

.row{
   max-width: 1400px;
   margin: auto;
   display: flex;
   gap: 30px;
   margin-top: 50px;
   margin-bottom: 20px;
}

.col{
    width: 340px;
    border: solid 2px white;
    background-color: white;
    box-shadow: 5px 5px 10px gray;
    text-decoration: none;
    color: inherit; 
    
    
}
.images{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.name{
    color: black;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    font-weight: 700;
}
.price{
    color: black;
    text-align: center;
    font-size: 18px;
    padding-top: 10px;
}

.desc{
    text-align: center;
    font-style: normal;
    padding: 20px;
}

.favs{
    height: 40px;
    padding-top: 10px;
    margin-left: 130px;
}




@media(max-width:720px){
    .row{
        flex-direction: column;
    }
    .col{
        margin: auto;
    }
}