
.slider-container {
    width: 100vw; 
    height: 600px; 
    overflow: hidden;
}

.slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slick-prev, .slick-next {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5); 

}

.slick-prev {
    left: 10px; 

}

.slick-next {
    right: 10px; 
  
}




.slick-dots {
    padding: 40px;
}


@media(max-width:720px){
    .slick-slider{
        position: relative;
    }
}